{% extends 'base/master.html' %}


  {% block body %}


<div class="container-fluid pt-5">
    {% if err_msg %}
    <h4> {{ err_msg }} </h4>
    {% endif %}

    <div class="logo mb-3">
      <div class="col-md-12 text-center">
        <h1>Login</h1>
      </div>
    </div>
    <div class="container">
      <form method="post" action="{{ url_for('signin') }}">
        <div class="form-group">
          <label for="username"> Username </label>
          <input type="text" class="form-control" id="username" name="username" required/>
        </div>

        <div class="form-group">
          <label for="password"> Password </label>
          <input type="password" class="form-control" id="password" name="password" required/>
        </div>

        <div class="con2">
          <input type="submit" value="Sign up" class="btn btn-danger" style="text-align:center;"/>
          <p class="message">Don't have an account? <a href="/signup">Sign Up</a></p>
        </div>
      </form>
    </div>
</div>


{% endblock %}
